<div class="card card-custom overflow-hidden">
    <div class="card-body p-0">
        <div class="row justify-content-center bgi-size-cover bgi-no-repeat py-4 px-4 py-md-14 px-md-0" style="background-image: url(./metronic/assets/media/bg/bg-6.jpg);">
            <div class="col-md-9">
                <div class="d-flex justify-content-between  flex-column flex-md-row">
                    <h1 class="display-4 text-white font-weight-boldest"> ثبت سفارش جدید</h1>
                </div>
             
            </div>
        </div>
        <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
            <div class="col-md-9">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="pl-0 font-weight-bold text-muted  text-uppercase">توضیحات</th>
                                <th class="text-right font-weight-bold text-muted text-uppercase">ساعت</th>
                                <th class="text-right font-weight-bold text-muted text-uppercase">قیمت واحد</th>
                                <th class="text-right pr-0 font-weight-bold text-muted text-uppercase">باقی مانده</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="font-weight-boldest font-size-lg">
                                <td class="pl-0 pt-7">خلاقیت</td>
                                <td class="text-right pt-7">80</td>
                                <td class="text-right pt-7">دلار40.00</td>
                                <td class="text-danger pr-0 pt-7 text-right">دلار3200.00</td>
                            </tr>
                            <tr class="font-weight-boldest border-bottom-0 font-size-lg">
                                <td class="border-top-0 pl-0 py-4">توسعه فرانت اند</td>
                                <td class="border-top-0 text-right py-4">120</td>
                                <td class="border-top-0 text-right py-4">دلار40.00</td>
                                <td class="text-danger border-top-0 pr-0 py-4 text-right">دلار4800.00</td>
                            </tr>
                            <tr class="font-weight-boldest border-bottom-0 font-size-lg">
                                <td class="border-top-0 pl-0 py-4">توسعه بک اند</td>
                                <td class="border-top-0 text-right py-4">210</td>
                                <td class="border-top-0 text-right py-4">دلار60.00</td>
                                <td class="text-danger border-top-0 pr-0 py-4 text-right">دلار12600.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row justify-content-center bg-gray-100 py-8 px-8 py-md-10 px-md-0">
            <div class="col-md-9">
                <div class="d-flex justify-content-between flex-column flex-md-row font-size-lg">
                    <div class="d-flex flex-column mb-10 mb-md-0">
                        <div class="font-weight-bolder font-size-lg mb-3">مشخصات خریدار</div>

                        <div class="d-flex justify-content-between mb-3">
                            <span class="mr-15 font-weight-bold">نام خریدار:</span>
                            <span class="text-right">محمد غلامی</span></span>
                        </div>

                        <div class="d-flex justify-content-between mb-3">
                            <span class="mr-15 font-weight-bold">شماره خریدار:</span>
                            <span class="text-right">1234567890934</span></span>
                        </div>

                        <div class="d-flex justify-content-between">
                            <span class="mr-15 font-weight-bold">کد:</span>
                            <span class="text-right">BARC0032UK</span></span>
                        </div>
                    </div>
                    <div class="d-flex flex-column text-md-right">
                        <span class="font-size-lg font-weight-bolder mb-1">مبلغ قابل پرداخت</span>
                        <span class="font-size-h2 font-weight-boldest text-danger mb-1">دلار20.600.00</span>
                        <span>بدون مالیات</span>
                    </div>
                </div>

            </div>
        </div>
        <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
            <div class="col-md-9">
                <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-light-primary font-weight-bold" onclick="window.print();">دانلود فاکتور</button>
                    <button type="button" class="btn btn-primary font-weight-bold" onclick="window.print();">چاپ فاکتور</button>
                </div>
            </div>
        </div>
    </div>
</div>