@using Pars.Common.Enums
<li class="menu-item" data-menu-toggle="click" aria-haspopup="true">
    <a asp-controller="Home" asp-action="Index" asp-area="@AreaConstants.IdentityArea" class="menu-link">
        <span class="menu-text">پیشخوان</span>
    </a>
</li>
<li class="menu-item  menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text">سفارشات</span><i class="menu-arrow"></i>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item " aria-haspopup="true">
                <a asp-controller="OrderBasket" asp-action="Index" asp-area="" class="menu-link ">
                    <span class="menu-text">ثبت سفارش</span><span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item " aria-haspopup="true">
                <a asp-controller="Order" asp-action="Index" asp-area="" asp-route-title="لیست سفارشات جدید" asp-route-orderStatus="@OrderStatus.New.ToString()" class="menu-link ">
                    <span class="menu-text">لیست سفارشات جدید</span><span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item " aria-haspopup="true">
                <a asp-controller="Order" asp-action="Index" asp-area="" asp-route-title="لیست سفارشات در حال تولید" asp-route-orderStatus="@OrderStatus.InProgress.ToString()" class="menu-link ">
                    <span class="menu-text">سفارشات در حال تولید</span><span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item " aria-haspopup="true">
                <a asp-controller="Order" asp-action="Index" asp-area="" asp-route-title="لیست سفارشات تحویل شده" asp-route-orderStatus="@OrderStatus.Delivered.ToString()" class="menu-link ">
                    <span class="menu-text">سفارشات تحویل شده</span><span class="menu-desc"></span>
                </a>
            </li>
        </ul>
    </div>
</li>
<li class="menu-item  menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text">محصولات</span><i class="menu-arrow"></i>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item " aria-haspopup="true">
                <a asp-controller="Category" asp-action="Index" asp-area="" class="menu-link ">
                    <span class="menu-text">دسته بندی محصولات</span><span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item " aria-haspopup="true">
                <a asp-controller="Product" asp-action="Index" asp-area="" asp-route-title="لیست محصولات" class="menu-link ">
                    <span class="menu-text"> لیست محصولات</span><span class="menu-desc"></span>
                </a>
            </li>
        </ul>
    </div>
</li>
<li class="menu-item  menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text">انبار</span><i class="menu-arrow"></i>
    </a>
    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
        <ul class="menu-subnav">
            <li class="menu-item " aria-haspopup="true">
                <a asp-controller="Warehouse" asp-action="Index" asp-area="" class="menu-link ">
                    <span class="menu-text">لیست انبار ها</span><span class="menu-desc"></span>
                </a>
            </li>
            <li class="menu-item " aria-haspopup="true">
                <a asp-controller="Product" asp-action="Index" asp-area="" asp-route-title="محتویات انبار ها" class="menu-link ">
                    <span class="menu-text">محتویات انبار ها</span><span class="menu-desc"></span>
                </a>
            </li>
        </ul>
    </div>
</li>