@model SearchProductsViewModel

<div class="row mb-6">
    <div class="col-lg-3 mb-lg-0 mb-6">
        <label asp-for="Name"></label>
        <input asp-for="Name" type="text" class="form-control datatable-input" placeholder="" data-col-index="0" />
    </div>
    <div class="col-lg-3  mb-lg-0 mb-6">
        <label asp-for="CategoryId"></label>
        <input asp-for="CategoryId" type="text" class="form-control datatable-input" placeholder="" data-col-index="1" />
    </div>
    <div class="col-lg-3  mb-lg-0 mb-6">
        <label asp-for="Size"></label>
        <input asp-for="Size" type="text" class="form-control datatable-input" placeholder="" data-col-index="2" />
    </div>
    <div class="col-lg-3  mb-lg-0 mb-6">
        <label asp-for="WarehouseId"></label>
        <input asp-for="WarehouseId" type="text" class="form-control datatable-input" placeholder="" data-col-index="3" />
    </div>
</div>