@model List<Pars.ViewModels.Categories.CategoryViewModel>
@{
    ViewBag.Title = "دسته بندی محصولات";
    Layout = "_MetronicLayout";
}


<div class="card card-custom">
    <div class="card-header">
        <div class="card-title">
            <span class="card-icon">
                <i class="flaticon2-box-1 text-success"></i>
            </span>
            <h3 class="card-label">لیست دسته بندی محصولات</h3>
        </div>
    </div>
    <div class="card-body">
        <div class="row my-10">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-xxl-3 border-right-0 border-right-md border-bottom border-bottom-xxl-0">
                    <div class="pt-30 pt-md-25 pb-15 px-5 text-center">
                        <div class="d-flex flex-center position-relative mb-25">
                            <span class="svg svg-fill-primary opacity-4 position-absolute">
                                <svg width="175" height="200">
                                    <polyline points="87,0 174,50 174,150 87,200 0,150 0,50 87,0" />
                                </svg>
                            </span>
                            @if (!string.IsNullOrWhiteSpace(item.Picture))
                            {
                                <img class="img-category" src="@item.Picture" src="metronic/assets/media/products/category.png" onerror="this.src ='/metronic/assets/media/products/category.png'" />
                            }
                            else
                            {
                                <img class="img-category" src="metronic/assets/media/products/category.png"  />
                            }
                        </div>
                        <span class="font-size-h1 d-block font-weight-boldest text-dark-75 py-2">@item.Name</span>
                        <h4 class="font-size-h6 d-block font-weight-bold mb-7 text-dark-50">
                            @item.Title
                        </h4>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-primary text-uppercase font-weight-bolder px-15 py-3">
                                مشاهده محصولات
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
