@model Pars.ViewModels.Orders.OrderIndexViewModel

<div class="row mb-6">
    @*<div class="col-lg-3 mb-lg-0 mb-6">
        <label asp-for="SearchViewModel.FromDate"></label>
        <input asp-for="SearchViewModel.FromDate" type="text" class="form-control datatable-input" placeholder="" data-col-index="0" name="@nameof(Model.SearchViewModel.FromDate)" />
    </div>

    <div class="col-lg-3 mb-lg-0 mb-6">
        <label asp-for="SearchViewModel.ToDate"></label>
        <input asp-for="SearchViewModel.ToDate" type="text" class="form-control datatable-input" placeholder="" data-col-index="1" name="@nameof(Model.SearchViewModel.ToDate)" />
    </div>*@

    <div class="col-lg-3  mb-lg-0 mb-6">
        <label asp-for="SearchViewModel.OrderStatus"></label>
        <select asp-for="SearchViewModel.OrderStatus" asp-items="Model.OrderStatuses" class="form-control datatable-input" data-col-index="2" name="@nameof(Model.SearchViewModel.OrderStatus)">
            <option>همه</option>
        </select>
    </div>

    @if (User.IsInRole(ConstantRoles.Admin))
    {
        <div class="col-lg-3  mb-lg-0 mb-6">
            <label asp-for="SearchViewModel.UserId"></label>
            <select asp-for="SearchViewModel.UserId" asp-items="Model.Users" class="form-control datatable-input" data-col-index="3" name="@nameof(Model.SearchViewModel.UserId)">
                <option> همه</option>
            </select>
        </div>
    }

</div>