@model Pars.ViewModels.Orders.OrderDto

<div class="row mb-5">
    <div class="col-12">
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        توضیحات
                    </h3>
                </div>
            </div>
            <div class="card-body">
                @Model.Description
            </div>
        </div>
    </div>
</div>