@model PagedUsersListViewModel

@{
    ViewData["Title"] = "مدیریت کاربران";
}

<div class="card mt-5">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body" id="gridcontainer">
        <partial name="_UsersList" model="Model" />
    </div>
    <footer class="card-footer">
        <a class="btn btn-success btn-sm" asp-action="Index" asp-controller="Register">افزودن یک کاربر جدید</a>
    </footer>
</div>
@section Scripts
{
    <script>
        new ClipboardJS('[data-clipboard=true]').on('success',
            function(e) {
                e.clearSelection();
                Swal.fire({
                    toast: true,
                    position: 'top',
                    icon: 'success',
                    title: 'کپی شد',
                    showConfirmButton: false,
                    timer: 1000
                });

            });

        function generateApiKey(userId) {
            $.get('@Url.Action("GenerateApiKey","UserCard")' +'?userId='+userId,
                function(data) {
                    $("#kt_clipboard_1").val(data);
                });
        }
    </script>
}